.FooterSection {
  width: 100%;
  margin-top: 30px;
  position: relative;
  bottom: 0;
}

.FooterContainer {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.FooterItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-right: 10px; */
}